/**
 * General styles
 */

* {
    box-sizing:border-box; border:0;outline:0;
    padding:0; margin:0;
}
body {
    font-family:"Roboto", sans-serif; font-weight:400;font-size:20px; line-height:1.5;
}
.container {
    text-align:center;
    max-width:640px;margin:auto;
    padding:120px 20px;
}

header {
    margin-bottom:50px;
}

strong {font-weight:500;}

p {margin-bottom:15px;}

button {
    display:inline-block;
    background-color:rgba(87,233,190,1); color: #000;
    border:none;
    padding:15px 32px;
    font-size:16px;text-align:center;text-decoration:none;
}

button:hover:enabled {
    cursor:pointer;
    background-color:rgba(87,233,190,0.8);
}

button:disabled,
button[disabled]{
    background-color: #cccccc;color: #666666;
}